.main-container {
  float: left;
  position: relative;
  left: 50%;
  color: #050589;
}
.fixer-container {
  float: left;
  position: relative;
  left: -50%;
  color: #050589;
}
.button {
  float: left;
  position: relative;
  left: 50%;
}



